@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
   background-color: var(--color-bar);
}

#map {
    width: 100%;
    height: 350px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-top: 0px;
}


#contact-form {
  margin: auto;
  width: 95%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
}

.nombres {
  margin:auto;
  margin-top: 0;
  text-align: left;
  width: 45%;
}

.mensaje {
margin:auto;
margin-top: 0;
width: 40%;
}

.mensaje textarea {
  height: 188px;
}

.contact-title {
  color: var(--color-main-dark);
 	font-size: 60px;
  text-align: center;
  margin-left: 20px;
	font-family: 'Lobster', cursive;
	margin-top: 10px;
  margin-bottom: 8px;
  width: 100%;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
    background-color: var(--color-bar);
  color: var(--color-main-dark);
  font-size: 20px;
  }

.btn {
  width: auto;
	margin-top: 15px;
	margin-bottom: 25px;
		background-color: var(--color-accent);
   color: white;
    padding: 3px 50px;
    font-size: 20px;
    margin-right: 0;
}

.buttonrow {
  width: 100%;
  text-align: right;
}


.status {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background: var(--color-main-dark);
  color: white;
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}

.status a{
  color: var(--color-accent);
}
