#map {
    width: 45%;
    height: 380px;
    margin: auto;
    margin-top: 0px;
}

#contact{
  display: flex;
  margin: auto;
  width: 45%;
  margin-bottom: 64px;
}


@media screen and (max-width: 768px) {
	#map {
		width: 90%;
	}

	#contact {
		padding-top: 20px;
		width: 90%;
	}
}


#contact-form {
  margin: auto;
  width: 100%;
}

.contact-title {
  color: var(--color-main-dark);
  margin-left: 24px;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
}

.btn {
  margin-right: 12px;
}

.controls .row {
  margin: auto;
}

.status {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background: var(--color-main-dark);
  color: white;
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}

.status a{
  color: var(--color-accent);
}
