.header {
  display: flex;
  flex-wrap: wrap;
}

.title-head {
  font-size: 60px;
  font-family: serif;
  padding-left: var(--margin-horizontal);
  margin: 10px 0px 10px 0px;
}

.title-head a {
  color: var(--color-main-dark);

}

.title-head a:hover {
  text-decoration: none;
}

.title-right {
  margin-left: auto;
  margin-top: auto;
  color: var(--color-accent);
  font-size: 20px;
  padding-right: var(--margin-horizontal);
}

.title-right a {
  color: white;
  font-size: 16px;
}
