@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.header {
  display: flex;
  flex-wrap: wrap;
  background: var(--color-bar);
}

.title-head {
  font-size: 72px;
  font-family: 'Berkshire Swash', cursive;
  padding-left: var(--margin-horizontal);
  margin-left:auto;
  margin-right: -230px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-head a {
  color: var(--color-main-dark);

}

.title-head a:hover {
  text-decoration: none;
}

.title-head a::selection {
  text-decoration: none;
}

.title-head a:focus {
  text-decoration: none;
}

.title-head a:active {
  text-decoration: none;
}

.title-right {
  margin-left: auto;
  white-space: nowrap;
  margin-top: auto;
  color: var(--color-accent);
  font-size: 20px;
  font-weight: bold;
  padding-left: var(--margin-horizontal);
  padding-right: var(--margin-horizontal);
}

@media screen and (max-width: 600px){
  .title-right {
    margin-top:75px;
  }
}


.title-right a {
  color: var(--color-main-dark);
  font-size: 16px;
}
