/*
Colores
#d08888
#ff8fa6
#1a9c99
#90678c
#7a4d66
*/

:root {
  --color-main-dark: #7a4d66;
  --color-submenu: #875e75;
  --color-background: #fcf3fa;
  --color-bar: #dec5dc;
  --color-main-light: #a18293;
  --color-accent: #1a9c99;

  --margin-horizontal: 2%;
  --margin-vertical: 10px;
}

body {
  background-color: var(--color-background);
}

#imgCarousel {
  margin: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#imgCarousel img {
  width: 100%;
  overflow: hidden;
}

#articulos{
  width: 90%;
  margin: 10px 5% 0px 4%;
}
#articulos .texto{
  width: 150px;
  text-align: center;
}
#articulos .contenido{
  float: left;
  width: 150px;
  height: 140px;
  background-color: white;
  margin-left: 20px;
}
#articulos .imagen{
  width: 150px;
  height: 90px;
}

textarea {
    resize: none;
}