.navbar {
  background-color: var(--color-main-dark);
  margin: auto var(--margin-vertical);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: var(--color-main-dark);
}

.navbar a:focus {
  color: var(--color-main-dark);
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0px;
    display: block;
    text-align: center;
  }
  .navbar li {
    width: 100%;
  }
}
