#category-title {
  color: var(--color-main-dark);
  margin-left: 24px;
}
#productos{
	display: inline-block;
	margin-left: 5%;
	width: 100%;
	height: auto;
}
.producto img{
	height: 230px;
	width: 210px;
	float: left;
	display: inline-block;
}
.producto .info{
	display: inline-block;
	float: left;
	height: auto;
	margin-left: 10px;
}
.producto .precio p, .producto .tallas p, .producto .marca p{	
	margin: 0px;
	font-size: 20px;
	font-family: sans-serif;
}
.producto .tallas p{	margin-bottom: 10px;}
.producto{
	background-color: var(--color-bar);
	display: inline-block;
	float: left;
	width: 85%;
	margin-bottom: 25px;
	cursor:pointer;
}
