@import url('https://fonts.googleapis.com/css?family=Lobster');

#category-title {
	color: var(--color-main-dark);
	font-size: 60px;
	text-align: center;
	font-family: 'Lobster', cursive;
	margin-top: 10px;
	margin-bottom: 0px;
}
#productos{
	display: block;
  margin-top: 20px;
  margin-right: auto;
	margin-left: auto;
	width: 95%;
	height: auto;
  margin-bottom: 30px;
}

.link-elem {
  color: var(--color-main-dark);
}

.link-elem:hover {
  color: var(--color-main-dark);
    text-decoration: none;
}

a:hover #productos {

}

.producto img{
	height: 180px;
	width: 180px;
	float: left;
}
.producto .info{
	display: inline-block;
	height: auto;
	margin-left: 20px;
}
.producto .precio p, .producto .desc p, .producto .marca p{
	margin: 0px;
  margin-bottom: 2px;
	font-size: 20px;
	font-family: sans-serif;
}
.producto .precio p {
  font-size: 26px;
}

.producto .titulo h2 {
	font-weight: bold;
	margin-bottom: 0;
}

.producto {
	background-color: var(--color-bar);
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	cursor:pointer;
	border: 2px solid var(--color-main-dark);
	border-radius: 3px;
}
