.titulo-form {
    text-align: center;
    border: none;
    color: var(--color-main-dark);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
        text-align: center;
}

.progress {
    color: var(--color-main-dark);
    background-color: transparent;
    border: none;
    text-align: center;
    box-shadow: none;
    margin: 0;
    margin-top: -10px;
text-align: center;
font-size: 16px;
}

.formDatos {
    background-color: var(--color-bar);
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-main-dark);
    font-size: 20px;
    padding: 5px 30px;
    margin-bottom: 60px;
}

.form-control {
    margin-top: -10px;
    margin-bottom: 15px;
}

.form-tarjeta {
    width: 80px;
    display: inline-block;
}

@media screen and (max-width: 768px){
    .form-tarjeta.t1 {
        width: 20%;
    }
}

#tarjeta-text {
    margin-bottom: 0px;
}

.btn {
    background-color: var(--color-accent);
    color: white;
    font-size: 20px;
    padding: 8px 40px;
}

.btnSubmit {
    text-align: right;
    margin-top: 10px;
}

#datosTodos {
    margin-top: 30px;
}

.datosTarjeta, .datosUsuario, .datosEmail, .datosNum  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.datosUsuario .form-control {
    width: 100%;
}

.tarjeta-block {
    margin: 0 20px;
}

.half-block {
    margin: auto;
    width: 49%;
}

.first {
    margin-left: 0;
}

.last {
    margin-right: 0;
}

.check {
    display: inline-block;
    transform: scale(1.5);
    margin-right: 15px;
}

.datosCheckFactura {
    margin-left: 5px;
    display: inline;
}